.keyColumn {
    font-weight: bold;
    white-space: nowrap;
}

.primaryKeyIcon {
    display: inline-block;
    color: #D7CD28;
}

.foreignKeyIcon {
    display: inline-block;
    color: #808080;
}

.uniqueKeyIcon {
    display: inline-block;
    color: #538DAC;
}

.detail {
    padding: 0px 4px;
}

.impliedRelationship {
    display: none;
    font-style: italic;
    color: #183118
}

.dataTable > tbody > tr > td, .dataTable > tfoot > tr > td, .dataTable > thead > tr > td {
    padding: 6px;
}

.description {
    display: block;
    padding: 8px 0px;
}

.signature {
    font-size: 105%;
    font-weight: bold;
    font-style: italic;
}

.relatedTable {
    padding: 0px 4px;
}

.relatedKey {
    display: none;
    padding: 0px -4px 0px 4px;
}

.constraint {
    display: none;
    text-align: right;
    padding: 0px 4px;
}

.excludedRelationship {
    font-size: 85%;
}

.viewDefinition {
    font-size: 90%;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 4px;
    font-family: "Courier New", Courier, monospace
}

.CodeMirror {
    height: auto;
}

.dataTables_filter {
    padding-top: 4px;
}

.dataTables_filter .input-sm {
    padding-left: 13px;
}

.chart {
    max-height: 1000px;
}
