.is-key-column {
    font-weight: bold;
    white-space: nowrap;
}

.icon-primary-key {
    display: inline-block;
    color: #D7CD28;
}

.icon-foreign-key {
    display: inline-block;
    color: #808080;
}

.icon-unique-key {
    display: inline-block;
    color: #538DAC;
}

.table-cell-no-border {
    border: none;
}

.CodeMirror {
    height: auto;
}

.tab-pane svg {
    height: 60vh;
    width: 100%;
    overflow: scroll;
}